/* FONTS */

/* KoHo */

@font-face {
    font-family: 'Koho Italic';
    src: url("../fonts/KoHo-Italic.ttf");
}

/* Roboto */

@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/Roboto-Medium.ttf");
}

/* Raleway */

@font-face {
    font-family: 'Raleway Medium';
    src: url("../fonts/Raleway-Medium.ttf");
}

/* NotoSansHK */

@font-face {
    font-family: 'NotoSans Light';
    src: url("../fonts/NotoSansHK-Light.otf");
}

@font-face {
    font-family: 'NotoSans';
    src: url("../fonts/NotoSansHK-Regular.otf");
}

@font-face {
    font-family: 'NotoSans Medium';
    src: url("../fonts/NotoSansHK-Medium.otf");
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url("../fonts/NotoSansHK-Bold.otf");
}

/* GENERAL */

body {
    margin: 0 auto;
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.informations, .projects {
    height: 100vh;
}

.informations .pink-box {
    background: #ff1d4d;
}

/* LEFT SIDE */

.informations {
    background: #1c202b;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.informations .head {
    margin-bottom: 8.5%;
}

.informations .head h1 {
    font-family: 'NotoSans Light', sans-serif;
    text-transform: uppercase;
    font-size: 2.3rem;
    line-height: 2.6rem;
}

.informations .head h1 span {
    font-family: 'NotoSans Bold', sans-serif;
    font-size: 3rem;
}

.informations .head .job {
    padding: .5rem .75rem;
    font-family: 'Koho Italic', sans-serif;
}

.informations .motto p {
    margin: 0;
}

.informations .motto p:first-child {
    margin-bottom: .25rem;
}

.informations .motto p:first-child span {
    color: #ff1d4d;
    font-weight: 600;
}

.informations .motto p:last-child span {
    text-decoration: underline;
}

.informations .separator {
    width: 5%;
    height: 4px;
    background: #ff1d4d;
    margin: 8.5% 0 4.5%;
}

.informations .construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway Medium', sans-serif;
}

.informations .construction p:first-child {
    margin-bottom: 0;
}

.informations .construction p {
    color: #bbbab8;
    font-weight: 600;
}

.informations .construction a {
    margin: 6% 0 30%;
}

.informations .construction a:hover .cv {
    background: #ff3863;
}

.informations .construction .cv {
    font-weight: 700;
    padding: .75rem 1rem;
}

.informations .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.informations .social {
    font-weight: 700;
    padding: .65rem 1rem;
    border: 2px solid #ff1d4d;
}

.informations .social:hover {
    background: rgba(255, 255, 255, .05);
}

.informations .email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'NotoSans', sans-serif;
    position: relative;
    top: 5%;
}

.informations .email img {
    width: 12px;
}

.informations .email .round-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: 2px solid #ff1d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .25rem;
}

.informations .email a:hover {
    text-decoration: underline;
}

/* RIGHT SIDE */

.projects {
    background: #1c202b;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.projects .item {
    width: 50%;
    height: 33.33333333%;
    display: flex;
    transition: all .3s ease;
    text-align: center;
}

.projects .item:nth-child(1) {
    background: url('../images/ramonage/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .item:nth-child(2) {
    background: url('../images/leadsempire/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .item:nth-child(3) {
    background: url('../images/catberro/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .item:nth-child(4) {
    background: url('../images/sodc/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .item:nth-child(5) {
    background: url('../images/worldcup/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .item:nth-child(6) {
    background: url('../images/ohc/projet.jpg');
    background-size: cover;
    background-position-x: center;
}

.projects .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects .item:hover .overlay {
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}

.projects .overlay h2 {
    font-family: 'NotoSans Bold';
    font-weight: normal;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 0;
}

.projects .overlay .type {
    background: #ff1d4d;
    padding: .5rem .75rem;
    margin-top: 2%;
}

.projects .overlay p {
    margin: 0;
    font-size: .8rem;
    font-style: italic;
}

.projects .overlay .more {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: .35rem 1rem;
    position: relative;
    top: 20%;
    font-size: .9rem;
    font-family: 'Roboto Medium', sans-serif;
    transition: all .3s ease;
    cursor: pointer;
}

.projects .overlay .more:hover {
    background: #ffffff;
    color: #1c202b;
}

#one-project {
    background: #efefef;
    height: 100vh;
    width: 60%;
    position: absolute;
    right: -60%;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c202b;
}

#one-project h2, #one-project h3 {
    font-family: 'NotoSans Medium';
    font-size: 1.9rem;
    margin: 0;
    text-transform: uppercase;
}

#one-project>div {
    width: 95%;
}

#one-project .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#one-project>hr {
    width: 95%;
}

#one-project hr {
    border: 1px solid #d6d6d6;
}

#one-project .images {
    display: flex;
    justify-content: space-between;
    margin-top: .35rem;
}

#one-project .images>div {
    width: 49.5%;
}

#one-project .images img {
    width: 100%;
}

#one-project .infos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#one-project .left-row {
    width: 63%;
}

#one-project .right-row {
    width: 33%;
}

#one-project h3 {
    font-size: 1.3rem;
}

#one-project .infos hr {
    margin-bottom: 1rem;
}

#one-project .infos>div p {
    color: #818181;
    font-family: 'Raleway', sans-serif;
    font-size: .96rem;
    margin: .25rem 0;
}

#one-project #l-description {
    line-height: 1.34;
}

#one-project .infos .left-row span, #one-project .infos .right-row p:last-child {
    font-style: italic;
}

#one-project .infos .right-row .underline {
    text-decoration: underline;
}

#one-project .infos #r-year, #one-project .infos #r-type {
    text-decoration: none !important;
    font-family: 'Raleway Medium', sans-serif;
}

#one-project .infos .right-row p:last-child {
    font-style: italic;
}

#one-project .infos #r-project {
    color: #ff1d4d;
}

#one-project .head .back {
    cursor: pointer;
    border: 1px solid #cecece;
    font-size: .9rem;
    padding: .5rem 1rem;
    color: #b9b9b9;
    transition: all .5s ease;
}

#one-project .head .back:hover {
    border: 1px solid #ff1d4d;
    color: #ff1d4d;
}